* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

::-webkit-scrollbar {
  width: 3px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #0055ff; /* Cor do indicador da barra de rolagem */
  border-radius: 6px; /* Cantos arredondados do indicador */
}

::-webkit-scrollbar-track {
  background: transparent; /* Cor de fundo da barra de rolagem */
}


header {
  overflow: auto;
  position: fixed;    
  width: auto;
  height: 100%;
  background-color: rgb(0, 3, 54);
  display: inline-block;
}

h1 {
  color: aliceblue;
  margin: 50px;
  padding-bottom: 45px;
}



.lista1 a,
.lista2 a,
.lista3 a {
  margin-bottom: 20px;
}

.lista3 a i {
  font-size: 24px; /* Defina um tamanho menor para o ícone */
  margin-right: 10px; /* Adicione espaço entre o ícone e o texto */
}

a {
  cursor: pointer;
  display: flex;
  width: 100%;
  white-space: nowrap;
  font-size: 18px;
  padding: 0 0 0 20px;
  color: aliceblue;
  text-decoration: none;
}

a.selected {
  display: flex;
  white-space: nowrap;
  width: 230px;
  backdrop-filter: blur(10px);
  background-color: rgba(23, 26, 80, 0.897);
  transition: border-left 1s, color 1.0s;
  padding: 15px 0 15px 15px;
  color: #ffffff;
  border-left: 15px solid #0055ff;
  background-image: linear-gradient(to right, rgba(36, 40, 121, 0.99), rgba(0, 2, 48, 0.995));
}


.lista1,
.lista2
 {
  margin-right: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

i {
  margin-right: 10px;
  color: aliceblue;
}

.playlist {
  margin-left: 22px;
  color: rgb(156, 156, 156);
}

.playlist_header {
  align-items: center;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}

.plus_button {
  margin-right: 20px;
  border: 2.5px solid #0055ff;
  border-color: #0055ff;
  color: #0055ff;
  background-color: transparent;
  border-radius: 25%;
  line-height: 10px;
  width: 25px;
  height: 25px;
  font-size: 20px;
}


#playlistAdd{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


#inputField{
  box-shadow: #000000 -3px 4px 10px;
  padding: 12px;
  color: #ffffff;
  border-radius: 10px;
  border: 4px solid #0055ff;
  height: 30px;
  background-image: linear-gradient(to right, rgba(0, 3, 54, 0.937), rgb(19, 24, 107));
}




.X{
  box-shadow: #000000 -3px 4px 10px;
  border-radius: 50px;
  cursor: pointer;
  padding: 0%;
  color: #0055ff;
  font-size: 30px;
  background-color: transparent;
}


.deleteButtonSecond{
  
  width: 25px;
  padding-right: 32px;
  background-color: transparent;
  border: none;
}

.plusTwo{
  box-shadow: #000000 -3px 4px 10px;
  border-radius: 50px;
  width: 25px;
  padding-right: 32px;
  background-color:transparent;
  border:none; 
}

.plusIcon{
  cursor: pointer;
  padding: 0%;
  color: #0055ff;
  font-size: 30px;
  background-color: transparent;
}

::placeholder {
  color: #a8a4f1}

  .lista3{
    display: flex;
    align-items: baseline;
    justify-content: space-between
  }

  .itemContainer{
    margin: 0px;
    padding: 0px;
  }

  .deleteButton{
    display: flex;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 22px;
    align-items:flex-start;
    padding-left: 2px;
    margin-right: 18px;
  }

  .XF{
    color: #0055ff;
    font-size:24px}

    .searchBar {
      display: flex ;
      align-items: center;
      justify-content: space-evenly;  
      background-color: #1f1c2c;
      height: 90px;
      border: none;
      padding-left: 75px;
   }
  
   #inputSearchBar{
    background-color: #363641;
    border-radius: 45px;
    width: 610px;
    height: 60px;
    margin-top: 15px;
    border: none;
    padding-left: 22px;
  }
  
  .buttonDiv {
    display: flex;
    
  }

  .userDiv {
    display: flex;
    align-items: flex-start;
    position: relative;
    height: 55px;
    width: 95px;
    transition: border 0.1s;
  }
  
  
  
  .User{
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    transition: transform 0.6s ease-in-out;
  }
  

  .userInfo {
    display: block; /* Comece com a display: block; para que o elemento seja visível inicialmente */
    position: absolute;
    left: -2.3px;
    top: 100%;
    border: 3px solid #CCC;
    border-top: 0;
    width: 95px;
    border-radius: 0 0 8px 8px;
    opacity: 0; /* Comece com a opacidade 0 (elemento invisível) */
    transition: opacity 0.5s; /* Adicione uma transição para a opacidade */
}
  
  .userInfo a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #1f1c2c;
  }
  
  .userInfo a:hover {
    background-color: #eee;
  }

  

.profile {
  color: #0055ff;
  height: 45px;
  width: 35px;
  font-size: 45px;
}

.chevron{
  font-size: 20px;
  margin-left:10px ;
  padding-left: 0px;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.6s ease-in-out;
}